# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/.DS_Store


# Ableton 
# macOS - folder icons
**/Icon
**/Icon_
**/Icon?

# Ableton - analysis files: https://www.ableton.com/en/manual/managing-files-and-sets/#analysis-files-asd
**/*.asd

# Ableton - backup project files
Ableton /Plugin SOTA Tests Project/Backup/**/*.als

Ableton /Plugin SOTA Tests Project/Samples/

Pitch Shifter/Builds/MacOSX/build/

Prototypes/__pycache__/

Pitch Shifter/Builds/MacOSX/Pitch Shifter.xcodeproj/project.xcworkspace/xcuserdata/

Pitch Shifter/Builds/MacOSX/Pitch Shifter.xcodeproj/xcuserdata/

Pitch Shifter/Profiling/

Evaluation/Audio/Ableton Folder Info/

MUSHRA/webMUSHRA-1.4.3/configs/

MUSHRA/webMUSHRA-1.4.3/design/

MUSHRA/webMUSHRA-1.4.3/lib/

MUSHRA/webMUSHRA-1.4.3/service/

*.ico

MUSHRA/webMUSHRA-1.4.3/index.html

MUSHRA/webMUSHRA-1.4.3/LICENSE.txt

MUSHRA/webMUSHRA-1.4.3/README.md

MUSHRA/webMUSHRA-1.4.3/startup.min.js

MUSHRA/webMUSHRA-1.4.3/THIRD-PARTY-NOTICES.txt

Evaluation/Reference Pitch Shift/Builds/MacOSX/Reference Pitch Shift.xcodeproj/project.xcworkspace/xcuserdata/

Evaluation/Results/mushra.csv

AV Production/
