# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/.DS_Store


# Ableton 
# macOS - folder icons
**/Icon
**/Icon_
**/Icon?

# Ableton - analysis files: https://www.ableton.com/en/manual/managing-files-and-sets/#analysis-files-asd
**/*.asd

# Ableton - backup project files
Ableton /Plugin SOTA Tests Project/Backup/**/*.als

Ableton /Plugin SOTA Tests Project/Samples/

Pitch Shifter/Builds/MacOSX/build/

Prototypes/__pycache__/

Pitch Shifter/Builds/MacOSX/Pitch Shifter.xcodeproj/project.xcworkspace/xcuserdata/
