[submodule "libs/dsp"]
	path = libs/dsp
	url = https://github.com/Signalsmith-Audio/dsp.git
[submodule "libs/stretch"]
	path = libs/stretch
	url = https://github.com/Signalsmith-Audio/signalsmith-stretch.git
[submodule "MUSHRA/webMUSHRA"]
	path = MUSHRA/webMUSHRA
	url = https://github.com/audiolabs/webMUSHRA.git
[submodule "Report"]
	path = Report
	url = https://git@git.overleaf.com/66e32b86d75bb7c833180666
